.table-admin {
    tbody {
        tr:nth-child(even) {
            background: #f2f2f2;
        }
    }
    .product-image {
        img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}